@model VRS3LOGIN_AUTHENTICATION.Models.SurveyFormsModel
@{
    ViewData["Title"] = "Details";
    Layout = null;

}

<div class="modal fade" id="UpdateFormModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="UpdateFormLabel">survey form</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">
              @*   <h4>SurveyForms</h4> *@
              
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SurveyName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SurveyName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Category)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SubCategory)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SubCategory)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FormName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FormName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Section)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Section)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SectionWeightage)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SectionWeightage)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SurveyRantingtype)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SurveyRantingtype)
                    </dd>
                </dl>
            </div>

        </div>
    </div>
</div>








@* 
<div class="modal fade" id="surveyModal" tabindex="-1" role="dialog" aria-labelledby="surveyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="surveyModalLabel">Survey Form Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Content to display survey form details -->
                <div>
                    <h4>SurveyForms</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.SurveyName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SurveyName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Category)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Category)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.SubCategory)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SubCategory)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.FormName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.FormName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Section)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Section)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.SectionWeightage)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SectionWeightage)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.SurveyRantingtype)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SurveyRantingtype)
                        </dd>

                    </dl>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


 *@



<!-- Modal -->
@* <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>SurveyForms</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SurveyName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SurveyName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Category)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SubCategory)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SubCategory)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FormName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FormName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Section)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Section)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SectionWeightage)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SectionWeightage)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SurveyRantingtype)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SurveyRantingtype)
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

